.readyPawns {
    display: flex;
    width: 400px;
    height: 35px;
    flex-direction: row-reverse;
    align-items: right;
    padding: 16px;
    padding-right: 24px; /* 겹침으로 인한 잘림 방지 */
}

.pawn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #353535;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pawn.ready {
    margin-left: -20px; /* 겹침 효과 */
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pawn.onBoard {
    position: absolute;
    transform: translate(-50%, -105%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.blue {
    background-color: #8CC6DD;
}

.red {
    background-color: #FB836A;
}

.pawn.ready:first-child {
    margin-right: 0; /* 첫 번째 pawn은 마진 없음 */
}