.playerStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.diceBox {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid #353535;
    border-radius: 10px;
    background-color: #C8C8C8;
    color: #ffffff;
}

/* 플레이어 턴일 때 diceBox 색상 변경 */
.diceBox.blue {
    background-color: #8CC6DD;
}

.diceBox.red {
    background-color: #FB836A;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.profilePic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.playerName {
    font-size: 16px;
    color: #353535;
    text-align: center;
}

.circleGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.blue {
    background-color: #8CC6DD;
}

.red {
    background-color: #FB836A;
}

.gray {
    background-color: #e6e6e6;
}
